

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.square {
  padding: 0;
  width: 32px;
  float: left;
  height: 32px;
  font-size: 10px;
  margin-top: -1px;
  font-weight: bold;
  line-height: 32px;
  margin-right: -1px;
  text-align: center;
  border: 1px solid #999;
}

.square:hover {
  /* background-color: red; */
}

.checked {
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-direction: alternate;
  animation-name: visitedAnimation;
  animation-timing-function: ease-out;
}

.start {
  background-color: red !important;
}
.end {
  background-color: green;
}


@keyframes visitedAnimation {
  0% {
    border-radius: 100%;
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.inRoute {
  background-color: yellow;
  animation-fill-mode: none;
}
